/*.container {*/
/*  min-height: 100vh;*/
/*  padding: 0 0.5rem;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*}*/

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hello {
  background-color: blue;
  padding: 1rem 1.3rem;

  &__world {
    background-color: red;
    padding: 1rem 1.3rem;
  }
}
